@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: italianno;
    font-weight: 400;
}

/* header styles */

h1 {
    font-size: 50px;
    text-align: center;
    color: #ffbe0b;
    text-decoration: none;
}

/* navigation links */

#menu {
    text-align: center;
    font-size: 25px;
    letter-spacing: 4px;
    
    }

#menu li {
    list-style-type: none;
    margin-right: 30px;
    float:right;
}    

#menu a {
    text-decoration: none;
    color: #ffbe0b;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}