@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: italianno;
    font-weight: 400;
    background-color: #507CCE;
}

/* header styles */


h1 {
    font-size: 50px;
    text-align: center;
    color: #ffbe0b;
    
}

header a h1 {
    float: left;
}

/* navigation links */

#menu {
    text-align: center;
    font-size: 25px;
    letter-spacing: 4px;
    
    }

#menu li {
    list-style-type: none;
    margin-right: 30px;
    float:right;
}    

#menu a {
    text-decoration: none;
    color: #ffbe0b;
    font-weight: 700;
}

#menu a:hover {
    border-bottom: 1px solid #ffbe0b;
}
.active {
    border-bottom: 1px solid #ffbe0b;
}

/*cite image */

#cite-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}


#cite-image {
    height: 600px;
    width: auto;
    background: url(../images/la-cite-medievale-de-carcassonne_g-deschamps-crt-occitanie.jpg) no-repeat center;

    /* animates zoom on loading page */

    animation-name: cite-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}




/* creates zoom for cite image */
@keyframes cite-zoom {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* Why Stay With Us */


#top-about{
text-align: center;
color: lavender;
font-size: 23px;

}

#bottom-about {
    text-align: center;
    color: lavender;
    font-size: 23px;
}

    h2 {
        color: #ffbe0b;
    }

    .wrapper {
        text-align: center;
    }

    .bookbutton {
    font-size: 20px;
    background-color: #a0c800;
    color: white;
    border-radius: 5px;
    
    }

    footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffbe0b;
}

/* form page */

.contact-form {
    clear: left;
    background: url(../images/balade-à-vélo-le-long-du-canal-du-midi-©céline-deschamps-adt-de-l-aude-1455x970.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}



