@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: italianno;
    font-weight: 400;
}

/* header styles */

h1 {
    font-size: 50px;
    text-align: center;
    color: #ffbe0b;
    text-decoration: none;
}

/* navigation links */

#menu {
    text-align: center;
    font-size: 25px;
    letter-spacing: 4px;
    
    }

#menu li {
    list-style-type: none;
    margin-right: 30px;
    float:right;
}    

#menu a {
    text-decoration: none;
    color: #ffbe0b;
    font-weight: 700;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/*cite image */

#cite-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}


#cite-image {
    height: 600px;
    width: 100%;
    background: url(../images/1200px-Carcassonne_Cite.jpg) no-repeat;

    /* animates zoom on loading page */

    animation-name: cite-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}




/* creates zoom for cite image */
@keyframes cite-zoom {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* Why Stay With Us */

#top-about{
text-align: center;

}

#bottom-about {
    text-align: center;
    

}